
.cabecera {
    width: 100%;
    height: 300px;
    background-image: url(https://res.cloudinary.com/dcea83ydd/image/upload/v1622170915/Banners/HeaderCabecera_blui3i.jpg);
    background-size: 84%;
    background-position: center;
    color: #eee;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 1px 4px #555;
    .logo-contenedor {
        width: 9%;
        height: 30%;
        a {
            img {
                width: 100%;
            }
        }
    }
    .icon-menu {
        display: none;
        padding: 5px;
        border-radius: 5px;
        background-color: #3339;
        position: absolute;
        bottom: 8%;
        left: 2%;
        font-size: 20px;
    }
    .icon-search {
        display: none;
        align-items: center;
        justify-content: center;
        padding: 6px;
        background-color: #3339;
        border-radius: 5px;
        position: absolute;
        bottom: 8%;
        right: 2%;
        font-size: 20px;
    }
    .buscador {
        display: flex;
        width: 27%;
        height: 40px;
        margin-top: 20px;
        border-radius: 7px;
        background-color: #191919;
        padding: 5px;
        position: absolute;
        right: 1%;
        .input {
            width: 85%;
            font-size: 17px;
            border: initial;
            outline: none;
            padding: 5px;
            background-color: transparent;
            color: rgb(255, 251, 251);
        }
        .submit {
            width: 15%;
            border: initial;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            background-color: transparent;
            color: rgb(221, 221, 221);
            text-align: center;
            transition: all 250ms;
            &:hover {
                color: rgb(143, 143, 143);
            }
        }
        
    }
        .contenedor-resultados {
        width: 27%;
        margin-top: 55px;
        margin-right: 1%;
        z-index: 500;
        .resultado{
            background-color: #191919;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 30%;
                max-width: 100px;
            }
            span {
                width: 70%;
                padding-left: 5px;
                color: #fff;
                font-size: 16px;
            }
        }
    } 
    .barranav {
        width: 60%;
        height: 38px;
        background-color: #191919;
        position: absolute;
        bottom: 25%;
        right: 20%;
        box-shadow: 0px 0px 3px #444,0px 0px 3px #444;
        z-index: 1300;
        .lista {
            display: flex;
            justify-content: space-between;
            .elemento{
                width: 25%;
                list-style: none;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                transition: 250ms;
                &:hover{
                    transform: scale(1.3,1.3);
                    
                }
                a {
                    padding: 10px;
                    transition: all 200ms;
                }
/*                     a:hover {
                    background-color: #ddd;
                    color: #333;
                    
                } */
/*                 &::before{
                    content:"";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $border-color;
                    position: absolute;
                    bottom: 0;
                    box-shadow: 605px -35px $border-color;
                    transform: translateX(-200%);
                }
                &::after{
                    content:"";
                    display: block;
                    height: 100%;
                    width: 1px;
                    background-color: $border-color;
                    position: absolute;
                    left: 0;
                    top:0;
                    box-shadow: 198px 114px $border-color;
                    transform: translateY(-200%);
                }
                &:hover {
                    &::before {
                        transform: translateX(0%);
                        box-shadow: 0px -35px $border-color;
                        transition: transform 250ms,box-shadow 1000ms;
                    }
                    &::after {
                        transform: translateY(0%);
                        box-shadow: 198px 0px $border-color;
                        transition: transform 50ms,box-shadow 500ms;
                    }
                } */
            }
        }
    }
}
@media (max-width:480px){
    .cabecera {
        
        width: 100%;
        height: 100px;
        .logo-contenedor {
            width: 12%;
            min-width: 53px;
            height: 30%;
        }
        .icon-menu {
            display: block;
        }
        .icon-search {
            display: flex;
        }
        .buscador {
            display: flex;
            width: 70%;
            height: 35px;
            margin-top: initial;
            margin-right: initial;
            box-shadow: initial;
            border-radius: 6px;
            background-color: #222;
            padding: 5px;
            transition: all 250ms;
            position: absolute;
            bottom: 8%;
            right: -100%;
            color: #fff;
            .input {
                width: 85%;
                font-size: 14px;
                border: initial;
                outline: none;
                padding: 5px;
                background-color: transparent;
                font-weight: bold;
            }
            .submit {
                width: 15%;
                border: initial;
                outline: none;
                cursor: pointer;
                font-size: 20px;
                background-color: transparent;
                text-align: center;
                &:hover {
                    color: rgb(143, 143, 143);
                }
            }
            
        }
        .contenedor-resultados {
            width: 70%;
            margin-right: 1%;
            position: initial;
            margin-top: 90px;
            z-index: 500;
            .resultado{
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #222;
                img {
                    width: 30%;
                }
                span {
                    width: 70%;
                    padding-left: 5px;
                    color: #fff;
                    font-size: 16px;
                }
            }
        }

        .barranav {
            display: block;
            width: 100%;
            height: initial;
            background-color: #000000ed;
            position: absolute;
            bottom: initial;
            top: 100px;
            /* right: initial; */
            left: 100%;
            box-shadow: 0px 0px 3px #444,0px 0px 3px #444;
            z-index: 50;
            .lista {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .elemento{
/*                     $altura: 38px;
                    $anchura: 25%;
                    $border-color: #ffffff; */
                    width: 100%;
                    list-style: none;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    margin: 5px;
                    a {
                        display: block;
                        padding: 10px;
                        transition: all 200ms;
                    }
    /*                     a:hover {
                        background-color: #ddd;
                        color: #333;
                        
                    } */
                    
                }
            }
        }
    }
}
@media (min-width:481px) and (max-width:720px)  {
    .cabecera {
        width: 100%;
        height: 150px;
        .logo-contenedor {
            width: 12%;
            min-width: 53px;
            height: 30%;
        }
        .icon-menu {
            display: block;
            font-size: 26px;
        }
        .buscador {
            display: flex;
            width: 70%;
            max-width: 350px;
            height: 40px;
            margin-top: initial;
            margin-right: initial;
            box-shadow: initial;
            border-radius: 6px;
            background-color: #222;
            padding: 5px;
            transition: all 250ms;
            position: absolute;
            bottom: 8%;
            right: 2%;
            color: #fff;
            .submit {
                font-size: 20px;
            }
        }
        .contenedor-resultados {
            width: 70%;
            margin-right: 1%;
            position: initial;
            margin-top: 133px;
            max-width: 350px;
            z-index: 500;
            .resultado{
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #222;
                img {
                    width: 30%;
                }
                span {
                    width: 70%;
                    padding-left: 5px;
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
        .barranav {
            display: block;
            width: 100%;
            height: initial;
            background-color: #000000ed;
            position: absolute;
            bottom: initial;
            top: 150px;
            /* right: initial; */
            left: 100%;
            box-shadow: 0px 0px 3px #444,0px 0px 3px #444;
            z-index: 50;
            .lista {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .elemento{
                    width: 100%;
                    list-style: none;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    margin: 5px;
                    a {
                        display: block;
                        padding: 10px;
                        transition: all 200ms;
                    }
                }
            }        
        }
    }
}
@media (min-width:721px) and (max-width:999px){
    .cabecera {
        width: 100%;
        height: 170px;
        .buscador {
            width: 40%;
        }
        .contenedor-resultados {
            width: 40%;
        }
        .barranav {
            width: 72%;
            height: 38px;
            background-color: #171717;
            position: absolute;
            bottom: 6%;
            right: 16%;
            box-shadow: 0px 0px 3px #444,0px 0px 3px #444;

            .lista {
                display: flex;
                justify-content: space-between;
                .elemento{
                    font-size: 14px;
                    width: 25%;
                    list-style: none;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    font-weight: 700;
                    a {
                        display: block;
                        padding: 10px;
                        transition: all 200ms;
                    }
                }
            }
        }
    }
    
}